/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */


/* FLASH NOTIFICATIONS */

.flash {
  border: 1px solid;
  border-radius: 3px;
  margin: 5px;
  min-height: 50px;
  font-size: 1.1rem;
  display: none;
}
.success {
  background-color: #DFF0D8;
  border-color: #D9ECCC;
  color: #4C7D45;
  display: block;
}
.error {
  background-color: #F2DEDE;
  border-color: #DDB5B5;
  color: #AB4B4A;
  display: block;
}
.flash p {
  margin-left: 10px;
  margin-bottom: 0px;
  line-height: 50px;
}
.flash .error-messages {
  margin-left: 50px;
  padding-bottom: 10px;
}

/*background*/

html {
  background: url("https://slack-imgs.com/?c=1&url=https%3A%2F%2F78.media.tumblr.com%2Fc5c216b73a8bfb67f14a2039a2028f0e%2Ftumblr_oe0u0sDBLb1vuuoz3o1_540.gif") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body{
  position: relative;
  top: 1vw;
  margin: 5vw;
  padding: 5vw;
  font-family: monospace;
  background-color: rgb(255, 204, 153);
}

header h2 {
    font-family: 'Calligraffitti';
<<<<<<< HEAD
    color: white ;
=======
>>>>>>> 6871d59bf9a9bb9c5eb07eec82894c6083a8079a
}
