/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */


/* FLASH NOTIFICATIONS */

/** {
  border: 1px solid black;
}*/

ul {
  list-style-type: none;
}

body{
  position: relative;
  font-family: monospace;
    background: url("https://st.depositphotos.com/1020341/1966/i/950/depositphotos_19664225-stock-photo-white-wood-background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

header h2 {
  font-family: 'Calligraffitti';
  text-shadow: 2px 2px black;
}

select {
  -webkit-appearance: none;
  height: 40px;
  font-size: 1.5em;
}

.pdetails {
  padding-left: 3%;
}

.pdetails h2 {
  margin-right: 5%;
  display: inline-block;
}

.heading {
  font-family: 'Indie Flower', cursive;
  text-shadow: 2px 2px black;
}

.row {
  width: 100%;
}

.page-header {
  margin-bottom: 50px;
  max-width: 100%;
  box-shadow: 5px 5px 5px black;
  padding: 25px 20px 10px 20px;
  left: 0;
  top: 0;
}

.bg {
  background-color: brown;
  opacity: 0.4;
}

.content {
  width: 100%
}

.full-width {
  width: 100%;
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.filter {
  width: 80%;
}

.filter div {
  margin: 10px;
}

.product-card {
  height: 600px;
  border: 1px solid black;
  background-color: white;
  margin: 4.15%;
}

.product-card img {
  max-height: 300px;
  overflow: hidden;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
}

.review .button {
  position: relative;
  top: 8px;
}

.flash {
  border: 1px solid;
  border-radius: 3px;
  margin: 5px;
  min-height: 50px;
  font-size: 1.1rem;
  display: none;
}

.success {
  background-color: #DFF0D8;
  border-color: #D9ECCC;
  color: #4C7D45;
  display: block;
}

.error {
  background-color: #F2DEDE;
  border-color: #DDB5B5;
  color: #AB4B4A;
  display: block;
}

.flash p {
  margin-left: 10px;
  margin-bottom: 0px;
  line-height: 50px;
}

.flash .error-messages {
  margin-left: 50px;
  padding-bottom: 10px;
}

.cart {
  float: right;
}

.float-right {
  float: right;
}

.drop-down {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.drop-down:hover .dropdown-content {
  display: block;
}

.space {
  display: inline-block;
  width: 0.385em;
}

/*star ratings for reviews*/
.dynamic-star {
  color: #fcfcfc;
  display: inline-block;
  height: 25px;
  line-height: 25px;
  margin: 0 auto;
  padding: 0;
  position: relative;
  text-shadow: 0 1px 1.5px gray;
  unicode-bidi: bidi-override;
  width: 65px;
}

.overlay {
  color: black;
  padding: 0;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  white-space: nowrap;
  z-index: 1;
}

.underlay {
  color: #fcfcfc;
  display: block;
  padding: 0;
  z-index: 0;
}

.star {
  float: left;
  text-shadow: 0 1px 1.5px gray;
}

.checked {
  color: black;
}

.unchecked {
  color: #fcfcfc;
}

.rating-labels {
  display: inline-block;
  transform: rotateY(180deg);
}

.rating-labels input[type="radio"] {
  display: none;
}
.rating-labels input[type="radio"]:checked ~ label::before {
  color: black;
}

.rating-labels label {
  display: inline-block;
}

.rating-labels label::before {
  color: #fcfcfc;
  content: "\2605";
  text-shadow: 0 1px 1.5px gray;
}

.rating-labels label:hover::before {
  color: darkgray;
}

.rating-labels label:hover ~ label::before {
  color: darkgray;
}

.pshow {
  box-shadow: 0px 5px 0px grey;
  padding-bottom: 60px;
  margin-bottom: 60px;
}
