/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */


.flash-success {
  background-color: #DFF0D8;
  border: 1px #D9ECCC solid;
  border-radius: 3px;
  margin: 5px;
  height: 50px;
  color: #4C7D45;
  font-size: 1.1rem;
}
.flash-success p {
  margin-left: 10px;
  line-height: 50px;
}
.flash-error {
  background-color: #F2DEDE;
  border: 1px #DDB5B5 solid;
  border-radius: 3px;
  margin: 5px;
  height: 50px;
  color: #AB4B4A;
  font-size: 1.1rem;
}
.flash-error p {
  margin-left: 10px;
  line-height: 50px;
}
