// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//INDEX//////////////////////////////////////////////////////////
.product-card {
  box-shadow: 1px 1px 3px 3px rgba(0,0,0,0.2);
  height: 350px;
  border-radius: 10px;
  background-color: white;
  margin: 4.15%;
  position: relative;
  figure {
    height: 180px
  }
  img {
    display: block;
    max-width: 100%;
    max-height: 90%;
    overflow: hidden;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }
  .button {
    display: block;
    margin-left: 25%;
    margin-right: 25%;
  }
}

.column:last-child:not(:first-child), .columns:last-child:not(:first-child) {
    float: left;
}

.product-card-details {
  height: 150px;
  overflow: hidden;
}

.page * {
  float: left;
}

//SHOW//////////////////////////////////////////////////////////
.product-show {
  figure {
    height: 400px;
    img {
      max-height: 350px;
    }
  }
  article {
    // padding-left: 3%;
    padding: 0px;
    h2 {
      // margin-right: 5%;
      display: inline-block;
    }
  }
}

//LEAVE A REVIEW BUTTON/////////////
.reviews {
  a.button {
    margin-left: -7px;
    margin-top: 5px;
    margin-bottom: 50px;
  }
  section.bottom-space {
    margin-bottom: 20px;
  }
  li.smaller {
    font-size: 0.9rem;
    margin-bottom: 2px;
  }
}
