// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//INDEX//////////////////////////////////////////////////////////
.product-card {
  box-shadow: 1px 1px 3px 3px rgba(0,0,0,0.2);
  height: 350px;
  border-radius: 10px;
  background-color: white;
  margin: 4.15%;
  position: relative;
  figure {
    height: 200px
  }
  img {
    display: block;
    max-width: 100%;
    max-height: 90%;
    overflow: hidden;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }
  .button {
    display: block;
    margin-left: 25%;
    margin-right: 25%;
  }
}

.product-card-details {
  height: 150px;
  overflow: hidden;
}

//SHOW//////////////////////////////////////////////////////////
.product-show {
  figure {
    height: 400px;
    img {
      max-height: 350px;
    }
  }
  article {
    padding-left: 3%;
    h2 {
      margin-right: 5%;
      display: inline-block;
    }
  }
}
